html.is-changing .swup-transition-fade {
  transition:
    opacity 0.32s ease,
    transform 0.32s ease;
  opacity: 1;
  transform: translateY(0);
}
html.is-animating .swup-transition-fade {
  opacity: 0;
  transform: translateY(8px);
}
