---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

interface Props {
  prev?: CollectionEntry<'posts'>
  next?: CollectionEntry<'posts'>
  class?: string
}

const { prev, next, class: className } = Astro.props
---

<div class="grid grid-cols-2" class:list={[className]}>
  <div>
    {
      prev && (
        <a
          class="flex items-center gap-2 hover:text-accent"
          href={`/posts/${(prev.data as any).slug ?? prev.slug}`}
        >
          <Icon name="ri:arrow-left-line" />
          <span>{prev.data.title}</span>
        </a>
      )
    }
  </div>
  <div>
    {
      next && (
        <a
          class="flex items-center justify-end gap-2 hover:text-accent"
          href={`/posts/${(next.data as any).slug ?? next.slug}`}
        >
          <span>{next.data.title}</span>
          <Icon name="ri:arrow-right-line" />
        </a>
      )
    }
  </div>
</div>
